@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600&f[]=nunito@300,201,600,400,500&display=swap");


:root {
  --primary-font: 'Clash Display', sans-serif;
  --secondary-font: 'Nunito', sans-serif;
  --bg: #EEF3FF;
  --home-bg: #fffce6;
  --home-gray: #fffce6;
  --primary-color: #0031AF;
}


/* loading screen */

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: blue;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
